/* Version 1: Poster Shape */


.container {
  background: rgb(218, 156, 177);
  width:500px;
  height:730px;
  position:relative;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  text-align: center;
  vertical-align: bottom;
  text-decoration: none;
  background-position: right;
  margin: auto;
  display: block;
  position: relative;
  top:90px;
  border: 10px solid salmon;
  border: 4mm ridge rgba(238, 18, 128, 0.6);
  margin: auto;
  margin-top: calc(50vh - 300px);
  
  
 }

.Text1{
color: rgb(0, 0, 0);
text-align: center;
margin: 0;
}

.Text2{
  color: rgb(164, 115, 213);
  bottom: 10%;
  right: 10%;
position: absolute;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

img{
  max-width: 70%;
  max-height: 70%;
  position:center;

  
}


  /*   I want my height to be a total of 700px, but there's a 20px padding all around, so I'm giving it a height of 660px (700 - 20 - 20) */
 
  /*   This makes it horizontally centered */
  /*   It only works on "display:block" elements */
    
  /*   This makes it centered vertically */
  /*   It's 50% of the height, and subtracting half of the total height of the poster (which is 700px)'*/  
 

  body {
    
    background-color: #f5d49f;
  }
