/* Version 2: Full Width and Typographic */

body {
/* This makes the container full width */
    width: 100%;
}

body {
  background-image:linear-gradient(rgb(248, 61, 189),rgb(255, 152, 9));
  background-size: contain;
  background-repeat:no-repeat;
  width: 100px;
  height: 700px;
}
 

 @font-face {
  font-family: 'anilez';
  src: url(fonts/anilez);
  }

.Title{
  font-family: 'anilez';
  font-size: 50px;
  color: white;
  margin-right: -1200%;
  margin-top: 40%;
  text-align: right;
  transition: 900ms;

}
 
.Festival{
  font-family: 'anilez';
  font-size: 150px;
  margin-right: -1200%;
  margin-top: -39px;
  text-align: right;
  color: white;
  transition: 1000ms;
}




.Text2{
  color: rgb(255, 255, 255);
  bottom: 8%;
  left: 390px;
position: absolute;
font-size: 30px;
font-family: 'anilez';
transition: 200ms;
}


.Text1{
  color: rgb(255, 255, 255);
  right: 40px;
position:absolute;
margin-left: 60%;
text-align: right;
font-size: 39px;
font-family:'Courier New', Courier, monospace;
transition: 200ms;
}

img{
  max-width: 50%;
  max-height: 50%;
  position:absolute;
  bottom:-35px;
  left: .10px;

}


  /*   I want my height to be a total of 700px, but there's a 20px padding all around, so I'm giving it a height of 660px (700 - 20 - 20) */
 
  /*   This makes it horizontally centered */
  /*   It only works on "display:block" elements */
    
  /*   This makes it centered vertically */
  /*   It's 50% of the height, and subtracting half of the total height of the poster (which is 700px)'*/  
 

 
  
  .boton{
    font-family: 'anilez';
    font-size: 20px;
    position:relative;
    right: -70%;
    bottom: 210px;;
    color:white;
  
  }
  
  a:visited {color: white;
  }


.Text1:hover {
  letter-spacing: 90px;
}

.Title:hover {
  letter-spacing: 50px;
}

.Festival:hover {
  letter-spacing: 90px;
}

.Text2:hover {
  letter-spacing: 10px;
}





