body {
    background-color: rgba(50, 115, 220, 0.3);
}

h1 {font-family: monospace; font-size: 30
px;

}
h1{font-size: 30px;}
a:link{text-decoration: none;color: white;font-family: monospace; font-size: 40px;}
a:visited{color: white;}

image id"will3" {image 40px

}