body {text-align: center;
    font-family:'tomato';
    font-size: 70px;
    color: black;
    margin-top: 210px;

}
@font-face {
    font-family: 'tomato';
    src: url(Tomato\ Juice\ 2.otf);
}


a:link {text-decoration: none;
    color: white;}

a:visited {color: white;}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }

body {
    background-image: url(imagerebe2.png);
    background-repeat: no-repeat;
    background-size: cover;

}